.nav{

    border-bottom: 1px solid #E1E4E8;

}

.navbutton{
   
width: 27px;
height: 9px;
left: 1px;
top: 10px;
background: linear-gradient(96.34deg, #E537B9 0%, #C040DF 100%);
border-radius: 4.5px;
}
.main-div{
    
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    
}

.p-today{

    
width: 74px;
height: 32px;
left: 116px;
top: 123px;
margin-top: 10px;
margin-bottom: 0px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


color: #252B42;
}

.p-para{
    
width: 331px;
height: 28px;
left: 116px;
top: 165px;
margin-top: 5px;
margin-bottom: 5px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */


color: #858585;
}

.accordion-button {
    background-color: white !important;
}
.accordion-button::after {
    background-image: initial;
  }
  
.accordion-button:not(.collapsed)::after {
    background-image: initial;
  }

  .acc{
      background-color: white !important;
  }